body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(to left,yellowgreen,rgb(163, 179, 77),#d6ffb7,rgb(205, 143, 50),rgb(60, 215, 112)); */
}
h1{
    color:  rgb(95, 95, 206);
    text-align: center;
    text-decoration: underline solid 2px rgb(95, 95, 206);
}
#image{
    width: 600px;
    height: 200px;
}
.main-content{
    margin: 20px auto ;
    max-width: 400px;
    border-radius: 20px;
    border: 1px solid;
    text-align: center;
    padding: 20px 20px;
    /* background-color: #AAc0aa; */
}
#btn{
    background-color: rgb(95, 95, 206);
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
#btn2{
    background-color: white;
    color: rgb(95, 95, 206);
    padding: 10px 20px;
    
    border-color: rgb(95, 95, 206);
    border-radius: 15px;
    cursor: pointer;
}
#result{
    color: rgb(95, 95, 206);
    font-weight: bolder;
}